<%= "#{issue.tracker.name} ##{issue.id}: #{issue.subject}" %>

<%=l(:field_status)%>: <%= issue.status %>
<%=l(:field_priority)%>: <%= issue.priority %>
<% issue.custom_field_values.each do |c| %><%= c.custom_field.name %>: <%= show_value(c) %>
<% end %>

<%= issue.description %>
